<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.obeo.dsl.mindstorms.ui.toolbar"
               label="Mindstorms">
            <command
                  commandId="fr.obeo.dsl.mindstorms.ui.command.new"
                  icon="images/New-48px.png"
                  label="New"
                  style="push"
                  tooltip="New">
            </command>
            <command
                  commandId="fr.obeo.dsl.mindstorms.ui.command.open"
                  icon="images/Open-48px.png"
                  label="Open"
                  style="push"
                  tooltip="Open">
            </command>
            <command
                  commandId="fr.obeo.dsl.mindstorms.ui.command.save"
                  icon="images/Save-48px.png"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="fr.obeo.dsl.mindstorms.ui.command.upload"
                  icon="images/Upload-48px.png"
                  label="Upload"
                  style="push"
                  tooltip="Upload">
            </command>
            <command
                  commandId="fr.obeo.dsl.mindstorms.ui.command.preferences"
                  icon="images/Preferences-48px.png"
                  label="Preferences"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.obeo.dsl.mindstorms.ui.command.new"
            name="New">
      </command>
      <command
            id="fr.obeo.dsl.mindstorms.ui.command.open"
            name="Open">
      </command>
      <command
            id="fr.obeo.dsl.mindstorms.ui.command.upload"
            name="Upload">
      </command>
      <command
            id="fr.obeo.dsl.mindstorms.ui.command.save"
            name="Save">
      </command>
      <command
            id="fr.obeo.dsl.mindstorms.ui.command.preferences"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.obeo.dsl.mindstorms.ui.command.NewHandler"
            commandId="fr.obeo.dsl.mindstorms.ui.command.new">
      </handler>
      <handler
            class="fr.obeo.dsl.mindstorms.ui.command.UploadHandler"
            commandId="fr.obeo.dsl.mindstorms.ui.command.upload">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     operator="and">
                  <test
                        property="fr.obeo.dsl.mindstorms.ui.properties.isNotDirty">
                  </test>
                  <test
                        property="fr.obeo.dsl.mindstorms.ui.properties.validEV3Home">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.obeo.dsl.mindstorms.ui.command.SaveHandler"
            commandId="fr.obeo.dsl.mindstorms.ui.command.save">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     operator="and">
                  <test
                        property="fr.obeo.dsl.mindstorms.ui.properties.isDirty">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.obeo.dsl.mindstorms.ui.command.PreferencesHandler"
            commandId="fr.obeo.dsl.mindstorms.ui.command.preferences">
      </handler>
      <handler
            class="fr.obeo.dsl.mindstorms.ui.command.OpenHandler"
            commandId="fr.obeo.dsl.mindstorms.ui.command.open">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     operator="and">
                  <test
                        property="fr.obeo.dsl.mindstorms.ui.properties.validSession">
                  </test></iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.obeo.dsl.mindstorms.ui.perspective.MindstormsPerspectiveFactory"
            fixed="true"
            id="fr.obeo.dsl.mindstorms.ui.perspective"
            name="Mindstorms">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="fr.obeo.dsl.mindstorms.ui.perspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="fr.obeo.dsl.mindstorms.ui.activity"
            name="MindstormsActivity">
      </activity>
      <activityPatternBinding
            activityId="fr.obeo.dsl.mindstorms.ui.activity"
            pattern="org.eclipse.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="fr.obeo.dsl.mindstorms.ui.activity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="fr.obeo.dsl.mindstorms.ui.activity"
            pattern="org.eclipse.ui.run">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="fr.obeo.dsl.mindstorms.ui.activity"
            pattern="org.eclipse.amalgam.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fr.obeo.dsl.mindstorms.ui.testers.MindstormsPropertyTester"
            id="fr.obeo.dsl.mindstorms.ui.mindstormsPropertyTester"
            namespace="fr.obeo.dsl.mindstorms.ui.properties"
            properties="validSession,isDirty,isNotDirty,validEV3Home"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
